/config/couchpotato
/config/deluge
/config/htpcmanager
/config/muximux
/config/plex
/config/sonarr
/data
*.jpg
*.png
*.nfo
*.mkv
*.mp4
*.avi
*.vob
*.srt
*.txt
*.ini
*.tmp
*.__wz_cache
*.log*
*.zip
*.torrent
*.ignore
.DS_Store
*.db
*.inf
*.sub
*.idx
*.m2ts
*.bdmv
*.crt
*.mpls
*.clpi
*.bin
*.xml
*.jar
*.properties
*.bdjo
*.cer
*.lst
*.otf
*.fontindex

